* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
}

header {
    height: 80px;
    background-color: #ececec;
}

a {
    text-decoration: none;
    color: black;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header-left {
    height: 100%;
    width: 20%;
    float: left;
}

#logo {
    display: flex;
    align-items: center;
    padding: 10px 0;
    height: 100%;
}

#logo img {
    height: 100%;
}

.header-right {
    height: 100%;
    width: 60%;
    float: right;
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 200;
}

.menu-item {
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
}

.dropdown-menu {
    width: 200px;
    text-align: center;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

#width {
    width: 110px;
}

.dropdown-menu {
    margin: 10px 0;
    display: none;
}

.arrow > a::after {
    font-family: "fontawesome";
    content: '\f107';
    font-weight: 400;

    padding-left: 5px;
}


.dropdown-menu-item {
    padding: 10px 0;
}

main {
    height: calc(100vh - 80px);
    margin: 0 auto;
}
